<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form method="post" name="login" action="login">
        name : <input type="text" name="username" /><br/>
        password : <input type="password" name="password" /><br/>
        <input type="checkbox" name="remember-me" /> - remember me <br/>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        <input type="submit" value="login" />

    </form>
</body>
</html>